$black-color: #1d1d1d;
$white-color: #ffff;
$softgrey-color: #e5e5e5;
$blue-color: #2e19c4;
$grey-color: #474747;
$green-color: #219653;
$orange-color: #f26440;
$heading-1-size: 64px;
$heading-2-size: 48px;
$heading-3-size: 34px;
$heading-4-size: 24px;
$heading-5-size: 20px;
$body-1-size: 18px;
$body-2-size: 16px;
$body-3-size: 14px;